<section class="hero">
	<div class="hero-body">
		<p class="title">History</p>
		<table class="table is-striped is-hoverable is-fullwidth">
			<thead>
			  <tr>
				<th></th>
				<th><abbr title="Source Currency">From</abbr></th>
				<th><abbr title="Source Amount">Amount</abbr></th>
				<th><abbr title="Target Currency">To</abbr></th>
				<th><abbr title="Target Amount">Result</abbr></th>
				<th><abbr title="Exchange Rate">Rate</abbr></th>
			  </tr>
			</thead>
			<tbody *ngFor="let entry of history">
				<tr>
					<th>{{entry.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</th>
					<td>{{entry.from}}</td>
					<td>{{entry.amount | number: '1.2-2'}}</td>
					<td>{{entry.to}}</td>
					<td>{{entry.result | number: '1.2-2'}}</td>
					<td>{{entry.rate | number: '1.2-2'}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
				  <tr>
					<th></th>
					<th><abbr title="Source Currency">From</abbr></th>
					<th><abbr title="Source Amount">Amount</abbr></th>
					<th><abbr title="Target Currency">To</abbr></th>
					<th><abbr title="Target Amount">Result</abbr></th>
					<th><abbr title="Exchange Rate">Rate</abbr></th>
				  </tr>
			  </tfoot>
		  </table>
	</div>
  </section>