<header class="hero is-link">
	<div class="hero-body">
	  <div class="">
		<p class="title">Currency Converter</p>
		<p class="subtitle">Fullheight subtitle</p>
	  </div>
		<div class="field has-addons">
			<p class="control">
			  <input class="input" type="text" placeholder="Amount of money">
			</p>
			<p class="control">
			  <span class="select">
				<select>
				  <option>$</option>
				  <option>£</option>
				  <option>€</option>
				</select>
			  </span>
			</p>
			<p class="control">
			  <button class="button">
				Transfer
			  </button>
			</p>
		  </div>
	</div>
  </header>